<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/myprac" />
        <property name="username" value="root" />
        <property name="password" value="0000" />
    </bean>

    <bean id="articleDao" class="simple.myboard.myprac.daojdbc.ArticleDaoJdbc">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="articleService" class="simple.myboard.myprac.serviceimpl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao" />
        <property name="commentService" ref="commentService" />
    </bean>

    <bean id="memberDao" class="simple.myboard.myprac.daojdbc.MemberDaoJdbc" >
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="memberService" class="simple.myboard.myprac.serviceimpl.MemberServiceImpl" >
        <property name="memberDao" ref="memberDao" />
        <property name="articleService" ref="articleService" />
    </bean>

    <bean id="commentDao" class="simple.myboard.myprac.daojdbc.CommentDaoJdbc" >
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="commentService" class="simple.myboard.myprac.serviceimpl.CommentServiceImpl" >
        <property name="commentDao" ref="commentDao" />
    </bean>

    <bean name="auditManager" class="simple.myboard.myprac.aop.AuditPropsAdvice" />

    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:advice id="transactionAdvice" transaction-manager="transactionManager" >
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="true" timeout="30"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="transactionAdvice" pointcut="execution(* *..*ServiceImpl.*(..))"/>
        <aop:advisor advice-ref="auditManager" pointcut="execution(* *..*ServiceImpl.add*(..)) || execution(* *..*ServiceImpl.update*(..))"/>
    </aop:config>


</beans>
